body {
    font: 16px Helvetica, Arial;
    box-sizing: border-box;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top_display {
    height: 100px
}

#messages {
    overflow: auto;
    flex: 1;
}

.chat_input {
    height: 50px;
    background: #ddd;
    padding: 3px;
    display: flex;
}

.buttons {
    height: 100px
}

.chat_input input#m {
    border: 0;
    padding: 10px;
    flex: 1;
    font-size: 1.0em;
}

.chat_input input[type=submit] {
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
    width: 100px;
    font-size: 20px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

#messages li {
    padding: 5px 10px;
}


/* #messages li:nth-child(odd) {
    background: #eee;
} */

.buttons {
    display: flex;
}

.buttons button {
    font-size: 50px;
    flex: 1;
}


/* CHAT */


/* .msg-container {} */

.msg {
    margin: 0;
    display: inline-block;
    padding: 12px 12px 0px 12px;
    line-height: 1.5em;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.client-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.msg-meta {
    font-size: 12px;
    /* background-color: crimson; */
    color: white;
    border-radius: 5px;
    display: inline-block;
    padding: 4px 20px;
    margin: 10px 0;
}

.msg-time {
    font-size: 0.8em;
    color: gray;
    margin: 0;
    text-align: right;
    padding: 5px 10px;
}

.msg-container {
    background: #DCF8C6;
    border-radius: 5px;
    max-width: 50%;
    min-width: 90px;
    display: inline-block;
}

.chappa-bot p {
    background-color: #82e0ff;
    color: black;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
}

.chat_input input[type="button"] {
    border: none;
    width: 60px;
    font-size: 40px;
}

.container-msg {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#current-users p {
    margin: 0 auto;
    background-color: #82e0ff;
    color: black;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    padding: 5px 15px;
    width: 180px;
    text-align: center;
    position: fixed;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}